/*=============== Container Aniamtion ===================*/
.introduction-container {
    animation: transitionIn 1.75s;
}

@keyframes transitionIn { /* Creates an Animation Variable to be called */
    from {
        opacity: 0;
        transform: rotateX(-18deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
/*====================================================*/

/*=============== Button Aniamtion ===================*/
.btn-codingL {
    animation: slideLeft 2s;
}

@keyframes slideLeft {
    from{left: -14em}
    to{left: 1em}
}

.btn-projectG {
    animation: slideRight 2s;
}

@keyframes slideRight {
    from{right: -14em}
    to{right: 1em}
}
/*====================================================*/