  /*=============================================================================*/
  /* Contact Us Area
  /*=============================================================================*/

  .map-container {
    display: flex;
    padding: 0.5%;
    font-size: smaller;
  }

  .sub-container {
    margin: 15px 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 43px -1px #00000066;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
  }

  .error {
    color: #D82903;
    background: #FC613F;
  }

  .success {
    color: #089901;
    background: #2EEF24;
  }

  /*=============================================================================*/
  /*=============================================================================*/