<<<<<<< HEAD
   /* Applies New Setting, Styles and Positions to Windows that are at 2560 Resolution */
   @media screen and (max-width: 2560px) {
    .open-slide {
        display: none;
    }
  }
  
  /* Applies New Setting, Styles and Positions to Windows that are at 1440 Resolution */
  @media screen and (max-width: 1440px) {
    .star-container{ /* Adjusts width of "Star Container" to fit page */
        width:13em;
        P{font-size: 0.875em;}
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 1024 Resolution */
  @media screen and (max-width: 1024px) {
      .star-container{
          position: absolute;
      }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 768 Resolution */
  @media screen and (max-width: 768px) {
    .introduction-container{
        width: 20em;
    }
    .open-slide {
        display: block;
    }
    header {
        display: none;
    }
    .star-container{
        top: 1%;
    }
    .content-container {
        width: 30em;
    }
    .contact-container {
        display: block !important;
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 425 Resolution */
@media screen and (max-width: 425px) {
    .btn-codingL, .btn-projectG {
        top: 55em;
    }
    .content-container {
        margin-left: 2em;
        position: relative;
        width: 30em;
        p{width:fit-content;}
    }
    .btn-menu {
        z-index: 1000;
        margin-right: 1em;
    }
    .data-container {
        max-width: 32em;
    }
    .star-container {
        display: none;
    }
    .side-nav {
        z-index: 1001;
    }
    .grid-container {
        width: 35em;
        justify-content: center;
        margin: 2em;
    }
}

  /* Applies New Settings, Styles and Positions to Windows that are at 375 Resolution */
  @media screen and (max-width: 375px) {
    .data-container {
        max-width: 18em;
        img {width: 18em;}
    }

    .content-container {
        width: 28em;
    }

    .list-sections {
        width: 21em;
        font-size: 14px;
        p {
            width: 21em;
        }
    }

    .list-text-container {
        li {
            width: 18em;
        }
    }
    .grid-container {
        width: 18em;
    }
    .github-container {
        display: block;
        img {
            width: 3em;
        }
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 320 Resolution */
  @media screen and (max-width: 320px) {
      .introduction-container {
          width: 15em;
      }
      .btn-codingL, .btn-projectG {
          top: 58em;
          width: 10em;
      }
      .content-container {
          width: 26em;
      }
=======
   /* Applies New Setting, Styles and Positions to Windows that are at 2560 Resolution */
   @media screen and (max-width: 2560px) {
    .open-slide {
        display: none;
    }
  }
  
  /* Applies New Setting, Styles and Positions to Windows that are at 1440 Resolution */
  @media screen and (max-width: 1440px) {
    .star-container{ /* Adjusts width of "Star Container" to fit page */
        width:13em;
        P{font-size: 0.875em;}
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 1024 Resolution */
  @media screen and (max-width: 1024px) {
      .star-container{
          position: absolute;
      }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 768 Resolution */
  @media screen and (max-width: 768px) {
    .introduction-container{
        width: 20em;
    }
    .open-slide {
        display: block;
    }
    header {
        display: none;
    }
    .star-container{
        top: 1%;
    }
    .content-container {
        width: 30em;
    }
    .contact-container {
        display: block !important;
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 425 Resolution */
@media screen and (max-width: 425px) {
    .btn-codingL, .btn-projectG {
        top: 55em;
    }
    .content-container {
        margin-left: 2em;
        position: relative;
        width: 30em;
        p{width:fit-content;}
    }
    .btn-menu {
        z-index: 1000;
        margin-right: 1em;
    }
    .data-container {
        max-width: 32em;
    }
    .star-container {
        display: none;
    }
    .side-nav {
        z-index: 1001;
    }
    .grid-container {
        width: 35em;
        justify-content: center;
        margin: 2em;
    }
}

  /* Applies New Settings, Styles and Positions to Windows that are at 375 Resolution */
  @media screen and (max-width: 375px) {
    .data-container {
        max-width: 18em;
        img {width: 18em;}
    }

    .content-container {
        width: 28em;
    }

    .list-sections {
        width: 21em;
        font-size: 14px;
        p {
            width: 21em;
        }
    }

    .list-text-container {
        li {
            width: 18em;
        }
    }
    .grid-container {
        width: 18em;
    }
    .github-container {
        display: block;
        img {
            width: 3em;
        }
    }
  }

  /* Applies New Settings, Styles and Positions to Windows that are at 320 Resolution */
  @media screen and (max-width: 320px) {
      .introduction-container {
          width: 15em;
      }
      .btn-codingL, .btn-projectG {
          top: 58em;
          width: 10em;
      }
      .content-container {
          width: 26em;
      }
>>>>>>> 2ec4e533341940ca1d3d4305f34d7b15457f5c00
  }