/*========================== Reusable Colour Variables ========================*/
$primary: #333;
$White: #fff;
/*=============================================================================*/

/* Applies the Style to the navigational bar elements */


.nav-container {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: $White;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;
    }

    nav {
        float: right; /* Positions Text to the right hand side of container */

        ul { /* Spaces out the hyperlink text so they do not clash */
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover { /* Changes the colour when mouse hovers over hyperlink */
                    background: darken($primary, 10%);
                }
            }
        }
    }
}