/*========================== Reusable Colour Variables ========================*/
$primary: #111;
$AltWhite: #ccc;
$White: #fff;
/*=============================================================================*/

.side-nav { /* Applies style to the side-menu itself */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0%;
    background-color: $primary;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a { /* Applies style to the variables stored inside the side-menu */
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: $AltWhite;
        display: block;
        transition: 0.3s;
        &:hover {   /* When user hovers over text-variables, Change there colour to white */
            color: $White;
        }
    }
    .btn-close {    /* Applies Styles + Positioning for the "X" variable */
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
}